# 🌐 Server
HTTP_PORT=3000
SERVICE_NAME=kobFlow.import
APPLICATION_NAME=kobFlow.import
EXPENSE_API_BASE_URL=https://localhost
EXPENSE_API_KEY=test-key


# 🛢️ Database connection
MONGO_DB_NAME=kobflow
MONGO_CLUSTER_NAME=Cluster0
MONGO_HOST=example.mongodb.net
MONGO_PORT=9999
MONGO_USERNAME=kuaminika
MONGO_PASSWORD=password

CORS_ORIGIN=*
DEFAULT_ORG_ID=1

MERCHANT_GETALL_URL=https://localshot
MERCHANT_API_KEY=test-key