# 🌐 Server
HTTP_PORT=3000

# 🛢️ Database connection
DB_HOST=localhost
DB_USER=root
DB_PWD=
DB_NAME=kobflow
DB_PORT=3306

DEFAULT_ORG_ID=1

SERVICE_NAME=LogManagementService
APPLICATION_NAME=KobFlow
CORS_ORIGIN=*